
<div dir=rtl >
<h1>قوانین انجمنی</h1>

قوانین انجمنی روابط و وابستگی‌های متقابل بین مجموعه بزرگی از اقلام داده‌ای را نشان می‌دهند. 

مثال متداول در رابطه با کشف قوانین انجمنی "تحلیل سبد خرید" است.  در این فرایند با توجه به اقلام مختلفی که مشتریان در سبد خریدشان قرار می‌دهند، عادات و رفتار خرید مشتریان مورد تحلیل قرار می‌گیرد و می‌توان با شناسایی ارتباط بین محصولات، الگوهای تکرار شونده در حین خرید را بدست آورد.

سه پارامتر مهم:
- Support  میزان محبوبیت یک مجموعه آیتم را با توجه به دفعات حضور در تراکنش‌ها نشان می‌دهد.
- Confidence  احتمال خرید آیتم y در صورت خرید آیتم x را نشان می‌دهد. x -> y
- Lift   ترکیب دو پارامتر بالا می‌باشد.

برای پیاده سازی قوانین انجمنی در این تمرین، از الگوریتم Apriori که یکی از محبوب‌ترین و کارآمدترین الگوریتم‌های این حوزه است استفاده می‌کنیم.


<font color='Green'> پرسش:  تاثیر مقادیر مختلف پارامتر Lift را در احتمال وقوع نتیجه بررسی کنید.  </font>


</div>

<div dir=rtl>
  <font color='White'>
  لیفت یا بالابری معیاری برای اندازه‌گیری همبستگی است که از فرمول زیر بدست میاید:
  Lift(A,B) = P(A U B) / (P(A) * P(B))
  مقدار لیفت میزان همبستگی بین دو آیتم را با هم نشان می‌دهد. اگر مقدار لیفت زیاد باشد، دو آیتم با یکدیگر همبستگی بالایی دارند و اگر مقدار لیفت کم باشد، دو آیتم با یکدیگر کمتر همبستگی دارند.
  به طور دقیق تر اگر مقدار لیفت برابر 1 باشد، دو آیتم مستقل هستند. اگر بیشتر از 1 باشد یعنی همبستگی مثبت دارند به این معنی که وقوع یکی دلالت بر وقوع دیگری دارد. اگر هم کم تر از 1 باشد یعنی همبستگی منفی دارند به این معنی که وقوع یکی به احتمال زیاد منجر به عدم وجود دیگری می‌شود. (مثل کالاهای مکمل و جانشین)
  </font>
</div>


<div dir=rtl >
<h1>الگوریتم Apriori</h1>

روش کار الگوریتم به این صورت است که یک  حداقل مقدار پشتیبانی در نظر گرفته    می‌شود و تکرارها با مجموعه آیتم‌های مکرر اتفاق می‌افتند. در صورتیکه  مجموعه‌ها و زیرمجموعه‌ها مقدار پشتیبانی کمتر از حد آستانه داشته باشند حذف می‌شوند. این روند تا زمانیکه امکان حذف وجود نداشته باشد ادامه می‌یابد. 

در این بخش از تمرین می‌خواهیم الگوریتم apriori را بر روی مجموعه داده Hypermarket_dataset که شامل سفارشات خرید افراد از فروشگاه های مواد غذایی است اعمال کنیم.


</div>


<div dir=rtl >
<h1>آماده‌سازی داده</h1>

<font color='Green'>پرسش: برای شروع کار باید داده‌های دیتاست را در قالب ماتریس پراکنده که محصولات  خریداری شده در ستون‌ و شماره سفارشات خرید به عنوان شاخص (index) هستند آماده کنید. 


برای راحتی کار محصولات خریداری شده در هر سفارش را با اعداد 0,1 کدگذاری کنید.

 نمونه ماتریس خروجی شما:

<img src="https://drive.google.com/uc?id=1eD0jan1ZbeYqSklgK--ks7oeY-MyTA3p"></img>

</div>

In [109]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [110]:
# your code here

from google.colab import drive

drive.mount('/content/gdrive')
dataset = pd.read_csv('/content/gdrive/MyDrive/Hypermarket_dataset.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [111]:
dataset

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [112]:
new_dataset = dataset.drop('Date', 1)
new_dataset.sort_values(by=['Member_number'], inplace=True)
itemDescription = set(new_dataset.itemDescription)
member_number_sorted = sorted(list(set(new_dataset.Member_number)))

members_items = pd.DataFrame(data=0, columns=itemDescription, index=member_number_sorted)
members_items

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

,hard cheese,vinegar,tea,curd cheese,candles,sweet spreads,salty snack,cream,nuts/prunes,salad dressing,...,chocolate marshmallow,canned fruit,domestic eggs,turkey,cooking chocolate,liqueur,seasonal products,UHT-milk,prosecco,cream cheese
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [113]:
for i in members_items.index:
  items = set(new_dataset[new_dataset.Member_number == i].itemDescription)
  for item in items:
    members_items.loc[i, item] = 1

members_items

,hard cheese,vinegar,tea,curd cheese,candles,sweet spreads,salty snack,cream,nuts/prunes,salad dressing,...,chocolate marshmallow,canned fruit,domestic eggs,turkey,cooking chocolate,liqueur,seasonal products,UHT-milk,prosecco,cream cheese
1000,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0


<div dir=rtl >
<h1>شناسایی الگوهای پر تکرار</h1>

<font color='Green'> پرسش:  با اعمال الگوریتم apriori و به ازای مقدار min_support = 0.07 تمامی الگوهای پر تکرار را تولید نمایید. 

</div>


<div dir=rtl >

<font color='White'> 
تمامی الگوهای پرتکرار را به صورت مرتب شده صعودی مشاهده می‌کنید. (همراه با آیتم‌ست)
</div>

In [114]:
# your code here

frequent_itemset = apriori(members_items, min_support=0.07, use_colnames=True)
frequent_itemset_sorted = frequent_itemset.sort_values(by = 'support')
frequent_itemset_sorted

     support                                itemsets
80  0.070292             (whole milk, domestic eggs)
57  0.071575               (yogurt, root vegetables)
42  0.071575              (other vegetables, pastry)
63  0.071832              (rolls/buns, citrus fruit)
82  0.071832  (other vegetables, yogurt, whole milk)
..       ...                                     ...
28  0.282966                                (yogurt)
16  0.313494                                  (soda)
22  0.349666                            (rolls/buns)
3   0.376603                      (other vegetables)
34  0.458184                            (whole milk)

[83 rows x 2 columns]


<div dir=rtl >
<h1>استخراج قوانین انجمنی</h1>


<font color='Green'> پرسش: تابعی بنویسید که با گرفتن دو ورودی confidence و lift قوانین انجمنی حاصل را در خروجی نشان دهد. </br>
برای دو حالت خروجی خود را در گزارش ثبت کنید.


</div>

In [115]:
# your code here

def create_association_rules(metric, threshold):
  return association_rules(
      frequent_itemset,
      metric=metric,
      min_threshold=threshold)

In [116]:
test1_association_rules = create_association_rules('confidence', threshold=0.53)
test1_association_rules_sorted = test1_association_rules.sort_values(by=['confidence'])
test1_association_rules_sorted

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(yogurt),(whole milk),0.282966,0.458184,0.150590,0.532185,1.161510,0.020940,1.158185
0,(bottled beer),(whole milk),0.158799,0.458184,0.085428,0.537964,1.174124,0.012669,1.172672
2,(shopping bags),(whole milk),0.168291,0.458184,0.091329,0.542683,1.184422,0.014220,1.184772
3,"(rolls/buns, other vegetables)",(whole milk),0.146742,0.458184,0.082093,0.559441,1.220996,0.014859,1.229837
4,"(other vegetables, yogurt)",(whole milk),0.120318,0.458184,0.071832,0.597015,1.303003,0.016704,1.344507

In [ ]:
test2_association_rules = create_association_rules('lift', threshold=1.3)
test2_association_rules_sorted = test2_association_rules.sort_values(by=['lift'])
test2_association_rules_sorted

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(other vegetables, yogurt)",(whole milk),0.120318,0.458184,0.071832,0.597015,1.303003,0.016704,1.344507
3,(whole milk),"(other vegetables, yogurt)",0.458184,0.120318,0.071832,0.156775,1.303003,0.016704,1.043235
1,"(other vegetables, whole milk)",(yogurt),0.191380,0.282966,0.071832,0.375335,1.326434,0.017678,1.147870
2,(yogurt),"(other vegetables, whole milk)",0.282966,0.191380,0.071832,0.253853,1.326434,0.017678,1.083727